[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
matplotlib = "*"
install = "*"
pyqt5 = "*"
pyqtwebengine = "*"
pyqt5-sip = "*"
pyvis = "*"
jinja2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
